<div class="login-container">
  <div class="login-left">
    <img src="/assets/food.svg" alt="Login Graphic" />
  </div>
  <div class="login-right">
    <div class="login-form">
      <h2>Welcome Back !</h2>
      <p>login to continue</p>

      <label>Username</label>
      <input type="text" placeholder="Enter your username" />

      <label>Password</label>
      <input type="password" placeholder="Enter your password" />

      <div class="options">
        <label><input type="checkbox" /> Remember me</label>
        <a href="#">Forget Password?</a>
      </div>

      <button>Login now</button>

      <p class="or-login">Or Login with</p>
      <div class="social-icons">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-linkedin-in"></i>
        <i class="fab fa-google"></i>
      </div>

      <p class="signup-text">
        Don’t have an account?
        <a href="#">Sign Up</a>
      </p>
    </div>
  </div>
</div>
